<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Hello! <%= name%> , your files which were shared on <%= sharedDate%> have been deleted by system.</h4>
</body>
</html>