<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dropZone.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javaScript/jquery-3.1.0.min.js"></script>
    <script src="/javaScript/bootstrap.min.js"></script>
    <script src="/javaScript/dropzone.js"></script>
    <script src="/javaScript/fastClick.js"></script>
    <script src="/javaScript/upload.js"></script>
    <script>
        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("/upload/") != -1) {
                theRequest = url.substring(url.indexOf("/upload/")+8, url.length );
            }
            return theRequest;
        }
        function confirm() {
            $.ajax({
                url:'/yesPleaseShare',
                data:{id: $('#id')},
                type:'json',
            }).success(function () {
                $('#confirmModal').modal('show');
            }).error(function () {
                console.info('error happens');
            })
        }
        $('document').ready(function () {
            console.info("document is ready")
            var para = GetRequest();
            $('#id').val(para);
        });
    </script>
    <title>File Courier</title>
</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="border: 1px;background-color:  rgba(66, 244, 230, 1)">
            <div class="row">
                <div class="col-md-1">
                    <div><h3 style="text-align:center;"><strong>Welcome To Unique Down Loading Tools </strong></h3></div>
                </div>
                <div class="col-md-10">
                    <% if (status=='0'){ %>
                        <h4>Hello! <%= name%> , Thanks for your confirmation, Please click below button to confirm.</h4>
                    <% }else{ %>
                        <h4>Hello!  Here are no records.</h4>
                    <% } %>
                   <div>
                       <table class="table table-bordered table-hover table-condensed table-striped" id="tableId">
                           <thead><tr><th>File Name</th><th>File Size</th><th>Poster</th><th>Expired Day</th></tr></thead>
                           <tbody>
                           <%if (files.length) { %>
                           <% files.forEach(function(file){ %>
                           <tr><td><%= file.name %></td><td><%= file.size %></td><td><%= name %><td><%= expiredDay %></td></tr>
                           <% })%>
                           <% }%>
                           </tbody>
                       </table>
                       <input type="text" hidden id="id" name="id">
                       <input type="button"  name="confirm" onclick="confirm()">
                   </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Confirmation
                </h4>
            </div>
            <div class="modal-body">
               Thanks for your confirmation ! The receivers will get the email notification to get the url link to download the files.
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>

            </div>
        </div>

    </div>

</div>
</body>

</html>