<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dropZone.css">
    <script src="/javaScript/dropZone.js"></script>
    <script src="/javaScript/jquery-3.1.0.min.js"></script>
    <script src="/javaScript/bootstrap.min.js"></script>

    <title>File Download</title>
    <script>
        var intDiff = parseInt(0);
        $(function(){
            var height = $(window).height();
            $("#middle").height(height);
            //handle timer
            try{
                var ed = new Date($("#expiredDay").val()).getTime();
                var currentTime = new Date().getTime();

                intDiff = (ed - currentTime)/1000;
                timer(intDiff);
            }catch(err){

            }

        });
        function timer(intDiff) {
            window.setInterval(function () {
                var day = 0,
                        hour = 0,
                        minute = 0,
                        second = 0;//时间默认值
                if (intDiff > 0) {
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                }
                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                $('#day_show').html(day + " Days");
                $('#hour_show').html('<s id="h"></s>' + hour + ' Hours');
                $('#minute_show').html('<s></s>' + minute + ' Minutes');
                $('#second_show').html('<s></s>' + second + ' Seconds');
                intDiff--;
            }, 1000);
        }

    </script>
    <style>
        footer{
            position:absolute;
            bottom:0;
            left:49%;
        }
        .fontSize{
            font-size:1em;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
    </div>
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="col-md-6" style="border: 1px;" id="middle" >
            <div class="row">
            <div><h3 style="text-align:center;"><strong>Welcome To Unique Down Loading Tools </strong></h3></div>
            <div><span class="label  fontSize" style="color:black"><%=poster%> has uploaded files:,
                it will be deleted at <%=expiredDay%></span></div>
            <div><span class="label  fontSize" style="color:black">You can download it by clicking the DOWNLOAD.</span></div>

            <div class="time-item" style="float:right; text-align:right;">
                <strong id="day_show">0 Days</strong>
                <strong id="hour_show">0 Hours</strong>
                <strong id="minute_show">0 Minutes</strong>
                <strong id="second_show">0 Seconds</strong>
            </div>

            <table class="table table-bordered table-hover table-condensed table-striped" id="tableId">
                <thead><tr><th>File Name</th><th>File Size</th><th>Poster</th><th>Expired Day</th></tr></thead>
                <tbody>
                <%if (files.length) { %>
                <% files.forEach(function(file){ %>
                <tr><td><%= file.name %></td><td><%= file.size %></td><td><%= poster %><td><%= expiredDay %></td></tr>
                <% })%>
                <% }%>
                </tbody>
            </table>
            <a  href="<%= link%>" class="btn btn-primary">Download</a>
            <footer>
                <p>&copy;Unique 2016</p>
            </footer>
            <div><input id="expiredDay" value=<%=expiredDay%> hidden/></div>
        </div>
        <div class="span2"></div>
        </div>
    </div>
        <div class="col-md-3">
        </div>
        </div>
</div>
</body>
</html>