<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dropZone.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javaScript/jquery-3.1.0.min.js"></script>
    <script src="/javaScript/bootstrap.min.js"></script>
    <script src="/javaScript/dropzone.js"></script>
    <script src="/javaScript/fastClick.js"></script>
    <script src="/javaScript/upload.js"></script>
    <script>
        $('document').ready(function () {
            var date = new Date();
            var nextDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 7);
            $('#duration').attr('min', date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate());
            $('#duration').attr('max', nextDate.getFullYear()+'/'+(nextDate.getMonth()+1)+'/'+nextDate.getDate());
        });
    </script>
    <title>File Courier</title>
</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="border: 1px;background-color:  rgba(66, 244, 230, 1)">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="alert alert-success alert-dismissable" hidden id="alert">

                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×
                        </button>
                        <h4>
                            Alert!
                        </h4> <strong>Warning!</strong> Best check your infomations, they're not looking too good.
                    </div>


                    <div role="form" id="infoform">
                        <div class="form-group">
                                <h4 class="text-center" style=" color: #0f0f0f;">
                                    File Courier
                                </h4>
                        </div>
                        <div class="form-group">
                            <label for="posterEmail">
                                Your Email :
                            </label>
                            <div  style="width:40%" class="input-group">
                                <input type="" class="form-control" id="posterEmail" name="posterEmail">
                                <span class="input-group-addon" style="text-align:left">@XMAIL.COM</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="duration">
                                Effective Date :
                            </label>
                            <div  style="width:40%" class="input-group">
                                <input type="date" class="form-control"  name="duration" id="duration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="receiverEmails">
                                Receiver Emails :
                            </label>
                            <input type="text" class="form-control" id="receiverEmails"   name="receiverEmails">
                        </div>

                        <div class="form-group">

                            <label for="demo-upload">
                                Drag files here :
                            </label>

                            <form class="dropzone needsclick" id="demo-upload">
                                <input hidden id = "email0" name="email0">
                                <input hidden id = "email1" name="email1">
                                <input hidden id = "duration0" name="duration0">
                                <div class="dz-message needsclick">
                                    Drop files here or click to upload.<br />
                                    <span class="note needsclick">( Selected files will be uploaded after click <strong>POST</strong> .)</span>
                                </div>

                            </form>
                            <div>
                                <button type="button" id="submit-all" class="btn btn-primary" data-toggle="modal" disabled >
                                    POST
                                </button>

                                <button type="button" class="btn btn-cancel" onclick="">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Information
                </h4>
            </div>
            <div class="modal-body">
                The receivers will get the email notification to get the url link to download the files.
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="letspost" >
                    Confirmed
                </button>
            </div>
        </div>

    </div>

</div>
</body>

</html>