<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A HA! File Courier!</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dropZone.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
    <script src="/javaScript/jquery.min.js"></script>
    <script src="/javaScript/bootstrap.min.js"></script>
    <script src="/javaScript/bootstrap-datetimepicker.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h3 class="text-center">
                A HA! File Courier!
            </h3>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>
                    Tips!
                </h4> <strong>WARNING!</strong> Please <strong>DO NOT</strong> share any classified files by this tool.
            </div>
            <fieldset>
            <div role="form">
                <div class="form-group">
                    <legend>
                     <label for="posterEmail">
                        Your Email :
                    </label>
                    </legend>
                    <div  style="width:40%" class="input-group">
                        <input type="text" class="form-control" id="posterEmail" name="posterEmail" required data-toggle="tooltip" title="To receive the confirmation email, after confirmation, the files will be shared.">
                        <span class="input-group-addon" style="text-align:left"><strong>@SC.COM</strong></span>
                    </div>
                </div>
                <div class="form-group">
                    <legend>
                    <label for="duration">
                        Expiration Date :
                    </label>
                        </legend>
                    <div  style="width:40%" class="input-group form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control"  type="date" value="" size="16"  name="duration" id="duration" data-toggle="tooltip"  title="The files will be deleted from server after the date you selected">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                    </div>
                </div>
                <div class="form-group">
                    <legend>
                    <label for="receiverEmails">
                        Receiver Emails :
                    </label>
                        </legend>
                    <div  style="width:100%" class="input-group">
                    <input type="text" style="width: 83%;margin-right: 2%;"  class="form-control" id="receiverEmails" required  name="receiverEmails" data-toggle="tooltip"  title="The email address of whom you want to share the files">
                    <input type="button" style="width: 15%; " class="btn btn-primary" id="checkname" value="check name">
                    </div>
                </div>
                <div class="form-group">
                    <legend>
                    <label for="demo-upload">
                        Drag files here :
                    </label>
                        </legend>
                    <form class="dropzone needsclick" id="demo-upload" enctype="multipart/form-data">
                        <input hidden id = "email0" name="email0">
                        <input hidden id = "email1" name="email1">
                        <input hidden id = "duration0" name="duration0">
                        <div class="dz-message needsclick">
                            Drop files here or click to upload.<br />
                            <span class="note needsclick">( Selected files will be uploaded after click <strong>POST</strong> .)</span>
                        </div>

                    </form>

                </div>
            </div>
            </fieldset>
            <button type="button" id="submit-all" class="btn btn-primary" disabled >
                POST
            </button>
        </div>
        <div class="col-md-3">
        </div>

    </div>

</div>

<div class="modal fade" id="confirmModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Information
                </h4>
            </div>
            <div class="modal-body">
                The receivers will get the email notification to get the url link to download the files.
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="letspost" >
                    Confirmed
                </button>
            </div>
        </div>

    </div>

</div>

<script src="/javaScript/dropzone.js"></script>
<script src="/javaScript/fastClick.js"></script>
<script src="/javaScript/upload.js"></script>

</body>

</html>